#asces-web {
  display: none !important;
}

#asces-app {
  display: block !important;
}#asces-dashboard-app-final {
    padding: 0 !important;
    border-radius: 0 !important;
    background: #ffffff !important;
}

#section-recursos a {
    display: block;
    width: 90%;
    margin: 0 auto 15px auto;
    text-align: center;
}
